
FORM
{
	margin: 0px;
	padding: 0px;
}

#footer
{
	position: fixed;
	background-color: #F4F4F4;
	border-top-color: #e0e0e0;
	border-top-width: 1px;
	border-top-style: solid;
	height: 30px;
	padding: 4px;
	left: 0px;
	width: 100%;
	z-index: 1000;
	bottom: 0px;
	display: flex;
}


#copyright
{
	color: #DDDDDD;
	font-weight: bold;
	font-size: 10px;
	z-index: 1004;
	padding: 1px;
}

#pageInfo
{
	font-weight: normal;
	font-size: 12px;
	padding: 1px;
	flex: 1 1 auto;
	padding-left: 10px;
	margin: auto;
	margin-top: 7px;
}
html:lang(ko) #pageInfo{
    font-size: 12px;
}
html:lang(ja) #pageInfo{
    font-size: 12px;
}
html:lang(zh) #pageInfo{
    font-size: 12px;
}

#powered
{
	text-align: right;
	padding-right: 5px;
	padding-top: 5px;
	bottom: 15px;
	color: #FFFFFF;
	font-size: 12px;
	z-index: 1005;
}

#scrollingDiv
{
	padding: 0px 10px 0px 5px;
	margin: 0px;
	overflow: auto;
	position: relative;
	z-index: 3;
}

/* CSS definition for details table */

.details
{
	margin-top: 5px;
	border-collapse: collapse;
	border: 1px solid #8F8873;
	width: 99%;
	left: 1px;
	_left: 0px;
}

/*Hide empty flags*/
.details img.blankFlag
{
	display: none;
}

/* Details table <th> tag settings */
.details thead th
{
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	height: 24px;
	text-align: center;
	/* Ensure proper padding around text */
	padding-left: 3px;
	padding-right: 3px;
	border-collapse: collapse;
	border: 1px solid #CCCCCC;
	background-color: #EFEFEF;
	background-image: -webkit-linear-gradient(#FFFFFF, #EDEDED);
	background: -moz-linear-gradient(#FFFFFF, #EDEDED);
	background-image: -o-linear-gradient(#FFFFFF, #EDEDED);
}

.details th
{
	text-align: left;
	background-color: #FFFFFF;
	padding:2px;
	padding-left: 5px;
	color: #333333;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #8F8873;
	height: 22px;
	width: 9%;
}

/* Details table <td> tag settings */

.details td
{
	text-align: left;
	background-color: #FFFFFF;
	padding: 2px;
	padding-left: 5px;
	color: #333333;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #8F8873;
}

.details td table
{
	border: none;
	margin: 0px;
	border-collapse: collapse;
}

/* Make sure the div only reaches a certain height and leaves the rest as scrollable */
.details td div.multiple
{
	height: 10em;
}

/* CSS definition for grid (all lists) */

.grid
{
	border-collapse: collapse;
}

.colResize
{
	background-color: #333333;
	width: 1px;
	height: 200px;
	position: absolute;
}

/* Manage Vulnerability Pages Gridx */
td.gridxCell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Grid list <a> tag settings */
.grid a
{
	color:black;
}

.grid a:visited
{
	color:black;
}

/* Grid list <th> tag settings */

.grid th
{
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	border: 1px solid #CCCCCC;
	background-color: #EFEFEF;
	background-image: -webkit-linear-gradient(#FFFFFF, #EDEDED);
	background: -moz-linear-gradient(#FFFFFF, #EDEDED);
	background-image: -o-linear-gradient(#FFFFFF, #EDEDED);
	height: 24px;
	text-align: center;
	/* Ensure proper padding around text */
	padding-left: 5px;
	padding-right: 5px;
	border-collapse: collapse;
}

.gridHeader
{
	/* width: 99%; */
	background-color: #EFEFEF;
	background-image: -webkit-linear-gradient(#EFEFEF, #DDDDDD);
	background: -moz-linear-gradient(#EFEFEF, #DDDDDD);
	background-image: -o-linear-gradient(#EFEFEF, #DDDDDD);
	/*height: 26px;*/
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 3px;
	margin-left: -1px;
	margin-right: 0px;
	min-height: 23px;
	min-width: 400px;
}
.gridHeader .buttons
{
 	float:right;
	padding-top: 5px;
}

.gridHeader .heading
{
	float: left;
	text-indent: 5px;
	padding-top: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.grid th a, .grid th a:visited, .grid th a:hover, .grid th a:visited:hover
{
	text-decoration:none;
	color: #333333;	
}

/* Grid list <td> tag settings */

.grid tr
{
	background-color: #FFFFFF;
	font-size: 12px;
	color: #333333;	
	border: 1px solid #CCCCCC;
}

.grid tr pre
{
	background-color: #FFFFFF;
	border: none
}

.grid tr.alternate pre
{
	background-color: #F8F8F8;
	border: none
}

.grid tr.alternate
{
	color: #333333;
	background-color: #F8F8F8;
}

.grid tr.treeWhiteAlternate
{
	background-color: #FFFFFE;
}

.grid tr.treeDarkAlternate
{
	background-color: #F6F2FF;
}

.grid tr.disabled
{
	color: #AAAAAA;
}

.grid tr.footer
{
	font-weight: bold;
	color: #333333;
	background-color: #E0ECE0;
}

.grid tr.datarowselected
{
	color: #FFFFFF;
	background-color: #666666;
}

.grid tr.datarowselected a
{
	color: #FFFFFF;
}

.grid tr.datarowselected pre
{
        color: #FFFFFF;
        background-color: #666666;
        border: none;
}

.grid td
{
	padding: 1px;
	text-align: left;
	padding-left:5px;
	padding-right:2px;
	border: 1px solid #CCCCCC;
}

.grid thead:last-child
{
	border-right: 1px solid #8F8873;	
}

.grid .shadeBar
{
	padding-left: 1px;
	padding-right: 5px;
	white-space: nowrap;
	overflow: hidden;
}

/* Alternating row color settings (for use with grid) */

.alternate
{
	background-color: #F8F8F8;
}

/* Inner toolbar settings */

.mainDiv
{
	border: 1px solid #CCCCCC;
	background-color: #EFEFEF;
	background-image: -webkit-linear-gradient(#FFFFFF, #EDEDED);
	background: -moz-linear-gradient(#FFFFFF, #EDEDED);
	background-image: -o-linear-gradient(#FFFFFF, #EDEDED);
	padding-bottom: 3px;
	margin-top: 8px;
	margin-left: 0px;
	margin-right: 4px;
	min-height: 23px;
	min-width: 400px;
}

.mainDiv .heading
{
	float: left;
	text-indent: 5px;
	padding-top: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}

.mainDiv .buttons
{
	float:right;
	padding-top: 5px;
}

.mainDiv  .clear
{
	clear:both;	
}

/* Headings for within inner toolbars */

h1
{
	padding-left: 5px;
	padding-top: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #514D4A;
	margin: 0px;
}

/* Left border (for use with <th> tags within the grid) */

#leftBorder
{
	border-left: 1px solid #8F8873;
}

/* Right border (for use with <th> tags within the grid) */

#rightBorder
{
	border-right: 1px solid #8F8873;
}
	
@media print
{
	.toolbar { display: none; }
	#q1logo { display: none; }
	#footer { display: none; }
	#copyright { display: none; }
}

.qradar_link_green
{
	color:#088A4B;
	text-decoration:none;
	text-decoration: none;
	text-align:left;
}

.qradar_link_green:hover
{
	color:#088A4B;
}

.qradar_link_green:visited
{
	color:#088A4B;
}

.qradar_link_green:visited:hover
{
	color:#088A4B;
}

.qradar_link_red
{
	color:#FF0000;
	text-decoration:none;
	text-decoration: none;
	text-align:left;
}

.qradar_link_red:hover
{
	color:#FF0000;
}

.qradar_link_red:visited
{
	color:#FF0000;
}

.qradar_link_red:visited:hover
{
	color:#FF0000;
}



/* CSS definition for RESIZABLE grid (all lists) */

.resizableGrid
{
	/*col resizing */
	table-layout: fixed;
}

.resizableGrid th
{
	/*col resizing */
	white-space: wrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

.resizableGrid th a
{
	/*col resizing */
	display: block;
	overflow: hidden;
}

.resizableGrid td
{
	/*col resizing */
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis;	
}

.resizableGrid span._ellipsis
{
	visibility: hidden;	
}

.resizableGrid td.overflowed span._ellipsis
{
	visibility: visible;
	background-color: #FFFFFF;
}

.resizableGrid tr.alternate td.overflowed span._ellipsis
{
	background-color: #F6F2EE;
}

.resizableGrid tr.datarowselected span._ellipsis
{
	background-color:#666050;	
}

#toolbarButtons select
{
	font-size: 9px;
}

.forceWrapContent {
	white-space: normal !important;
	word-break:break-word !important;
}

.notesContent
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height: 100%;	
	margin-top:5px;
	margin-bottom:5px;
	width: 100%;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
}
.notesLess
{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	line-height: 100%;	
	margin-top:5px;
	margin-bottom:5px;
	width: 100%;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
	max-height: 100px;
}

div.consoleRoundedHeader
{
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	margin:5px -5px 10px 0px;
	padding:4px;
	text-align:center;
	font-size:1.1em
}
.GenericTextBox
{
	font-size:10px;
	font-family: Arial,Geneva,sans-serif;
}

#flowSource th {
	width: 30%;
}